language: python
python:
  - "2.7"
  - "pypy"
  - "pypy3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly" # currently points to 3.7-dev
  - pip install -r requirements.txt
# command to run tests
script: py.test -v
