language: python

python:
  # CPython; versions 3.0-3.3 have reached EOL
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev" # TODO: change to "3.7" once it is supported by travis-ci
  - "nightly"
  # PyPy:
  - "pypy" # Python 2.7
  - "pypy3.5" # Python 3.5

os:
  - linux   # Linux is officially supported and we test the library under
            # many different Python verions (see "python: ..." above)

# - osx     # OSX + Python is not officially supported by Travis CI as of Feb. 2018
            # nevertheless, "nightly" and some "*-dev" versions seem to work, so we
            # include them explicitly below (see "matrix: include: ..." below)

# - windows # Windows is not supported at all by Travis CI as of Feb. 2018

# Linux setup
dist: trusty
sudo: required

matrix:
  # see "os: ..." above
  include:
    - os: osx
      python: "2.7"
    - os: osx
      python: "3.6"
    - os: osx
      python: "nightly"

  allow_failures:
    # allow all nighly builds to fail, since these python versions might be unstable
    - python: "nightly"

    # we do not allow dev builds to fail, since these builds are considered stable enough

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo bash test/open_vcan.sh ; fi
  - travis_retry pip install sphinx
  - travis_retry pip install .[test]

script:
  - pytest
  - codecov
  # Build Docs with Sphinx
  # -a Write all files
  - if [[ "$TRAVIS_PYTHON_VERSION" == "3.6" ]]; then python -m sphinx -an doc build; fi
