language: python

python:
  # CPython:
  - "2.7"
  # Python 3.3 has reached EOL and pytest fails there
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev" # TODO: change to "3.7" once it gets released
  - "nightly"
  # PyPy:
  - "pypy"
  - "pypy3.5"

os:
  - linux   # Linux is officially supported and we test the library under
            # many different Python verions (see "python: ..." above)

# - osx     # OSX + Python is not officially supported by Travis CI as of Feb. 2018
            # nevertheless, "nightly" and some "*-dev" versions seem to work, so we
            # include them explicitly below (see "matrix: include: ..." below)

# - windows # Windows is not supported at all by Travis CI as of Feb. 2018

# Linux setup
dist: trusty
sudo: false

matrix:
  # see "os: ..." above
  include:
    - os: osx
      python: "3.6-dev"
    - os: osx
      python: "3.7-dev"
    - os: osx
      python: "nightly"

  allow_failures:
    # allow all nighly builds to fail, since these python versions might be unstable
    - python: "nightly"

    # we do not allow dev builds to fail, since these builds are considered stable enough

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo bash test/open_vcan.sh ; fi
  - travis_retry pip install .[test]
  - travis_retry pip install sphinx

script:
  - pytest -v --timeout=300
  # Build Docs with Sphinx
  #
  # -a Write all files
  # -n nitpick mode
  # -W   Turn warnings into errors. This means that the build stops at the first warning and sphinx-build exits with exit status 1
  - python -m sphinx -aW doc build