language: python
python:
  - "2.7"
  - "pypy"
  - "pypy3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6-dev" # 3.6 development branch
  - "nightly" # currently points to 3.7-dev

# command to install dependencies
install:
  - pip install .

# command to run tests
script: nosetests
