language: python

python:
  # CPython; versions pre-2.7 and 3.0-3.4 have reached EOL
  - "2.7"
  - "3.6"
  - "3.7"
  - "nightly"
  # PyPy:
  - "pypy" # Python 2.7
  - "pypy3.5" # Python 3.5

os:
  - linux   # Linux is officially supported and we test the library under
            # many different Python verions (see "python: ..." above)

# - osx     # OSX + Python is not officially supported by Travis CI as of Feb. 2018
            # nevertheless, "nightly" and some "*-dev" versions seem to work, so we
            # include them explicitly below (see "matrix: include: ..." below).
            # They only seem to work with the xcode8.3 image, and not the newer ones.
            # Thus we will leave this in, until it breaks one day, at which point we
            # will probably reomve testing on OSX if it is not supported then.
            # See #385 on Github.

# - windows # Windows is not supported at all by Travis CI as of Feb. 2018

# Linux setup
dist: xenial
sudo: required

matrix:
  # see "os: ..." above
  include:
    - os: osx
      osx_image: xcode8.3
      python: "3.6-dev"
    - os: osx
      osx_image: xcode8.3
      python: "3.7-dev"
    - os: osx
      osx_image: xcode8.3
      python: "nightly"

  allow_failures:
    # allow all nighly builds to fail, since these python versions might be unstable
    - python: "nightly"
    # we do not allow dev builds to fail, since these builds are considered stable enough

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo bash test/open_vcan.sh ; fi
  - if [[ "$TRAVIS_PYTHON_VERSION" == "3.6" ]]; then travis_retry pip install -r doc/doc-requirements.txt; fi
  - travis_retry pip install .[test]

script:
  - pytest
  - codecov
  # Build Docs with Sphinx
  # -a Write all files
  # -n nitpicky
  - if [[ "$TRAVIS_PYTHON_VERSION" == "3.6" ]]; then python -m sphinx -an doc build; fi

# Have travis deploy tagged commits to PyPi
deploy:
  provider: pypi
  user: hardbyte
  password:
    secure: oQ9XpEkcilkZgKp+rKvPb2J1GrZe2ZvtOq/IjzCpiA8NeWixl/ai3BkPrLbd8t1wNIFoGwx7IQ7zxWL79aPYeG6XrljEomv3g45NR6dkQewUH+dQFlnT75Rm96Ycxvme0w1+71vM4PqxIuzyXUrF2n7JjC0XCCxHdTuYmPGbxVO1fOsE5R5b9inAbpEUtJuWz5AIrDEZ0OgoQpLSC8fLwbymTThX3JZ5GBLpRScVvLazjIYfRkZxvCqQ4mp1UNTdoMzekxsvxOOcEW6+j3fQO+Q/8uvMksKP0RgT8HE69oeYOeVic4Q4wGqORw+ur4A56NvBqVKtizVLCzzEG9ZfoSDy7ryvGWGZykkh8HX0PFQAEykC3iYihHK8ZFz5bEqRMegTmuRYZwPsel61wVd5posxnQkGm0syIoJNKuuRc5sUK+E3GviYcT8NntdR+4WBrvpQAYa1ZHpVrfnQXyaDmGzOjwCRGPoIDJweEqGVmLycEC5aT8rX3/W9tie9iPnjmFJh4CwNMxDgVQRo80m6Gtlf/DQpA3mH39IvWGqd5fHdTPxYPs32EQSCsaYLJV5pM8xBNv6M2S/KriGnGZU0xT7MEr46da0LstKsK/U8O0yamjyugMvQoC3zQcKLrDzWFSBsT7/vG+AuV5SK8yzfEHugo7jkPQQ+NTw29xzk4dY=
  on:
    tags: true
  skip_cleanup: true
